body {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  max-width: 780px; }

header div {
  display: flex;
  justify-content: space-between;
  background: #1d7ad9;
  align-items: center;
  color: #fff;
  height: 65px;
  position: fixed;
  top: 0;
  opacity: .8;
  width: 100%;
  min-width: 320px;
  max-width: 780px; }
  header div span {
    font-size: 30px; }
  header div .img-a {
    margin-left: 10px; }
  header div .img-b {
    margin-right: 10px; }
  header div div {
    margin-right: 5%; }
  header div .img-b {
    opacity: 0; }

main .person {
  display: flex;
  align-items: center;
  background-image: url("img/c.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 50px 0 50px 10px;
  margin-top: 66px; }
  main .person .img-d {
    width: 114px; }
  main .person .text {
    display: flex;
    flex-direction: column;
    margin-left: 26px;
    color: #fff; }
    main .person .text p {
      font-size: 20px; }
main .major {
  margin-left: 10px;
  padding: 20px;
  border-bottom: 1px solid #e1e5e7;
  font-size: 20px; }
  main .major span {
    border-left: 2px solid  #1d7ad9;
    padding-left: 11px; }
main .home, main .year, main .time, main .price, main .introduce {
  display: flex;
  margin-left: 20px;
  padding: 20px;
  border-bottom: 1px solid #e1e5e7;
  font-size: 20px; }
  main .home .live, main .year .live, main .time .live, main .price .live, main .introduce .live, main .home .work, main .year .work, main .time .work, main .price .work, main .introduce .work, main .home .job, main .year .job, main .time .job, main .price .job, main .introduce .job, main .home .service, main .year .service, main .time .service, main .price .service, main .introduce .service, main .home .self, main .year .self, main .time .self, main .price .self, main .introduce .self {
    padding-right: 20px;
    border-right: 1px solid #e1e5e7; }
  main .home .food, main .year .food, main .time .food, main .price .food, main .introduce .food, main .home .num, main .year .num, main .time .num, main .price .num, main .introduce .num, main .home .day, main .year .day, main .time .day, main .price .day, main .introduce .day, main .home .money, main .year .money, main .time .money, main .price .money, main .introduce .money, main .home .do, main .year .do, main .time .do, main .price .do, main .introduce .do {
    margin-left: 20px; }
main .work {
  color: #999; }
main .job {
  color: #999; }
main .service {
  color: #999; }
main .money {
  color: #e26163; }
main .self {
  color: #999;
  min-width: 80px; }

footer div {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  position: fixed;
  bottom: 0;
  opacity: .8;
  width: 100%;
  min-width: 320px;
  max-width: 780px; }
footer .message {
  margin-left: 5%;
  width: 42%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #1d7ad9;
  border-radius: 10px;
  color: #1d7ad9;
  font-size: 20px; }
footer .relation {
  margin-right: 5%;
  width: 42%;
  padding: 20px;
  background-color: #1d7ad9;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-size: 20px; }

/*# sourceMappingURL=task12.css.map */
