.demo1 {
    height: 20px;
    background-color: #1d7ad9;
    margin-top: 5px;
}
.demo2 {
    margin-top: 5px;
    background-color: #9a9a9a;
}
.demo2-1 {
    background-color: #1d7ad9;
}
.demo2-2 {
    background-color:#29b078;
}
.demo3 {
    margin-top: 5px;
    background-color: #9a9a9a;
}
.demo3-1 {
    background-color:#1d7ad9;
    height: 20px;
}
.demo3-2 {
    background-color:#29b078;
    height: 20px;
}
.text1 {
    background-color: #29b078;
    height: 40px;
}
.text2 {
    background-color: #1d7ad9;
    height: 40px;
}
.col {
    border:1px solid;
}
.text3 {
    background-color: #29b078;
    height: 40px;
}
.text4 {
    background-color: #1d7ad9;
    height: 40px;
}
.text5 {
    background-color: red;
    height: 40px;
}
.container-fluid {
    margin-top: 5px;
}
.num {
    margin-top: 10px;
}