body{
    margin: 0;
    background-color:#eff0f4;

}
.box1{
    color: white;
    line-height: 88px;
    background-color: #66cccc;
    text-align: center;

}
.box2{
   height: 67px;
    margin-top: 46px;
    background-color:#ffffff ;
    padding: 25px;
}
.box3{
    height: 50px;
    margin-top: 46px;
    margin-bottom: 30px;
    background-color:#ffffff ;
    padding: 25px;
}
.left{
    margin-left: 20px;
    float: left;
}

.right{
    margin-right: 20px;
    float: right;
}
.box4{
    color: #fff;
    line-height: 70px;
    background-color: #66cccc;
    text-align: center;
    margin: 0;
    height: 85px;
    cursor: pointer;
}
.box5{
    float: right;
    color: #66cccc;
}
.iphone{
    float: left;
    width: 8%;
    margin-left: 30px;
    margin-right: 30px;
    border-right: 3px  #66cccc solid ;
}
.lock{
    float: left;
    width: 8%;
    margin-left: 30px;
    margin-right: 30px;
    border-right: 3px  #66cccc solid ;
}
a{
    text-decoration:none;
    color: #66cccc;
}
input{
    outline: none;
    border:none;
}