@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background-color: #fafafa; }

header .col {
  padding: 0; }
header .container-a {
  line-height: 50px; }
header .service {
  color: #29b078;
  font-size: 18px; }
header .register {
  display: flex;
  justify-content: flex-end;
  color: #29b078;
  font-size: 18px; }
@media screen and (max-width: 960px) {
  header .col-z {
    display: none !important; } }
@media screen and (min-width: 960px) {
  header .col-b {
    display: none; } }
header .container-wrap {
  background-color: #29b078; }
header .nav .img-4 {
  margin-top: 12px; }
header .nav .img-aa {
  margin-top: 20px; }
header .nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #29b078;
  height: 0; }
  header .nav ul li {
    padding-left: 5px; }
    header .nav ul li a {
      display: block;
      color: white;
      padding-left: 5px;
      text-align: center;
      text-decoration: none;
      line-height: 64px;
      border-bottom: 4px solid #29b078; }
  header .nav ul li a:hover {
    border-bottom: 4px solid #fff; }
@media screen and (min-width: 960px) {
  header .nav #sideMenuControl {
    display: none; }
  header .nav ul {
    display: inline-block;
    float: right;
    height: 67px; }
  header .nav li {
    float: right; } }
@media screen and (max-width: 960px) {
  header .nav .img-aa {
    float: right; } }
header .nav #sidemenu {
  display: none; }
header .nav #sidemenu:checked ~ ul {
  height: 320px;
  transition: height 2s; }

/* main第一部分 */
.row-a {
  text-align: center;
  margin-top: 40px; }

.col-c {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.col-img {
  width: 50px;
  height: 50px; }

/* main第二部分 */
.col-b {
  padding: 10px 0;
  /*box-shadow:2px 2px 2px 2px #9a9a9a ;*/ }

.col-b p {
  color: #9a9a9a; }

.col-d {
  margin: 0 20px;
  padding: 0 10px;
  background-color: #fff; }

.col-d img {
  margin-top: 10px; }

.row {
  margin-right: auto;
  margin-left: auto; }

/* main第三部分 */
.box-wrap {
  display: flex;
  justify-content: center; }

.box {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #fff;
  cursor: pointer;
  margin-right: 10px; }

.box:hover {
  background-color: #29b078; }

/* div过渡部分 */
.tactic {
  text-align: center;
  margin: 40px 0; }

.box1 {
  display: flex;
  justify-content: center;
  height: 200px;
  background: #fff;
  align-items: center;
  margin: 10px;
  border: 3px solid #fff; }

.box1:hover {
  border: 3px solid #f6f6f6;
  box-shadow: 3px 3px 3px #ddd; }

/* footer第一部分 */
.footer-a {
  display: flex;
  justify-content: center;
  height: 30px;
  align-items: center;
  color: #dadada;
  font-size: 10px; }

.dot-wrap {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #a1a1a1;
  align-items: center;
  border-bottom: 1px solid #fafafa; }

.dot {
  margin-right: 7px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #dadada; }

@media (min-width: 1200px) {
  .footer-a {
    flex: 0 0 10%; } }
.dot-wrap:hover {
  border-bottom: 1px solid #a1a1a1; }

/* footer第二部分 */
.container-wrap-a {
  background-color: #26a26f; }

.skill {
  display: block;
  padding-top: 20px;
  color: white;
  font-size: 12px; }

.about {
  display: block;
  padding-top: 30px;
  color: white;
  font-size: 12px; }

.about:hover {
  text-decoration: underline; }

.grass {
  display: block;
  padding-top: 15px;
  color: white;
  font-size: 12px;
  margin-right: 10px; }

.grass:hover {
  text-decoration: underline; }

.we:hover {
  text-decoration: underline; }

.skill:hover {
  text-decoration: underline; }

.grape {
  display: block;
  padding-top: 15px;
  color: white;
  font-size: 12px;
  margin-right: 10px; }

.we {
  display: block;
  padding-top: 15px;
  padding-bottom: 5px;
  color: white;
  font-size: 12px; }

.code {
  display: block;
  height: 75px; }

.grape:hover {
  text-decoration: underline; }

.footer-box {
  border-top: 1px solid white;
  margin-top: 10px; }

.footer-box-a {
  justify-content: center;
  text-align: center;
  font-size: 12px;
  color: white; }

/*# sourceMappingURL=task15-1.css.map */
