@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background-color: #fafafa; }

header .col {
  padding: 0 15px; }
header .container-a {
  line-height: 50px; }
header .service {
  color: #29b078;
  font-size: 18px; }
header .register {
  display: flex;
  justify-content: flex-end;
  color: #29b078;
  font-size: 18px; }
@media screen and (max-width: 960px) {
  header .col-z {
    display: none !important; } }
@media screen and (min-width: 960px) {
  header .col-b {
    display: none; } }
header .container-wrap {
  background-color: #29b078; }
header .nav .img-4 {
  margin-top: 12px; }
header .nav .img-aa {
  margin-top: 20px; }
header .nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #29b078;
  height: 0; }
  header .nav ul li {
    padding-left: 5px; }
    header .nav ul li a {
      display: block;
      color: white;
      padding-left: 5px;
      text-align: center;
      text-decoration: none;
      line-height: 64px;
      border-bottom: 4px solid #29b078; }
  header .nav ul li a:hover {
    border-bottom: 4px solid #fff; }
@media screen and (min-width: 960px) {
  header .nav #sideMenuControl {
    display: none; }
  header .nav ul {
    display: inline-block;
    float: right;
    height: 67px; }
  header .nav li {
    float: right; } }
@media screen and (max-width: 960px) {
  header .nav .img-aa {
    float: right; } }
header .nav #sidemenu {
  display: none; }
header .nav #sidemenu:checked ~ ul {
  height: 320px;
  transition: height 2s; }

.col-f a {
  text-decoration: none;
  color: #212529; }

.text {
  cursor: pointer; }

.text:hover {
  background-color: #29b078; }

.row-a {
  line-height: 50px;
  border-bottom: 1px solid #d0d6d9; }

.profession {
  color: #29b078; }

.size {
  font-size: 20px; }

/* main第一部分 */
.container-c {
  position: relative;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 10rem 3rem 3rem 2rem 2rem 2rem 3rem 3rem;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer; }

.item-a {
  grid-column-start: 1;
  grid-column-end: 6;
  background-image: url(../img/t.png);
  background-repeat: no-repeat;
  margin: 10px 0 0 10px; }

.item-b {
  grid-column-start: 6;
  grid-column-end: 11;
  font-size: 12px;
  border-bottom: 1px solid #fff;
  padding-top: 1rem;
  padding-left: 3px;
  word-break: break-all; }

.item-c {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  font-size: 12px;
  padding-top: 15px; }

.door {
  padding-left: 5px;
  color: #b3b3b3; }

.img {
  padding-left: 6px; }

.item-d {
  grid-column-start: 6;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 3;
  border-bottom: 1px solid whitesmoke;
  font-size: 12px;
  padding-top: 15px; }

.item-e {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
  border-bottom: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  font-size: 12px;
  padding-top: 15px; }

.num {
  color: red;
  padding-left: 6px; }

.year {
  color: #b3b3b3; }

.item-f {
  grid-column-start: 6;
  grid-column-end: 11;
  grid-row-start: 3;
  grid-row-end: 4;
  border-bottom: 1px solid whitesmoke;
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 10px; }

.item-g {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 7;
  border-bottom: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  padding-top: 35px;
  text-align: center; }

.item-h {
  grid-column-start: 4;
  grid-column-end: 11;
  grid-row-start: 4;
  grid-row-end: 5;
  border-bottom: 1px solid whitesmoke;
  font-size: 12px;
  padding-top: 8px; }

.num-1 {
  padding-left: 15px; }

.num-2 {
  float: right;
  padding-right: 15px; }

.item-i {
  grid-column-start: 4;
  grid-column-end: 11;
  grid-row-start: 5;
  grid-row-end: 6;
  border-bottom: 1px solid whitesmoke;
  font-size: 12px;
  padding-top: 8px; }

.item-j {
  grid-column-start: 4;
  grid-column-end: 11;
  grid-row-start: 6;
  grid-row-end: 7;
  border-bottom: 1px solid whitesmoke;
  font-size: 12px;
  padding-top: 8px; }

.item-k {
  grid-column-start: 1;
  grid-column-end: 11;
  border-bottom: 1px solid whitesmoke;
  font-size: 15px;
  padding-top: 15px;
  padding-left: 5px; }

.item-l {
  grid-column-start: 1;
  grid-column-end: 11;
  border-bottom: 1px solid whitesmoke;
  font-size: 11px;
  padding-top: 15px;
  padding-left: 5px; }

.item-m {
  display: none;
  font-size: 13px;
  height: 390px;
  position: absolute;
  opacity: 0.9;
  background-color: #3d3d3d;
  text-align: center;
  padding: 80px 40px;
  color: #fff;
  -webkit-animation: cartoon 5s; }

@keyframes cartoon {
  0% {
    background: url("../img/01.jpg") no-repeat center 100%; }
  25% {
    background: url("../img/02.jpg") no-repeat center 100%; }
  50% {
    background: url("../img/05.jpg") no-repeat center 100%; }
  100% {
    background: url("../img/04.jpg") no-repeat center 100%; }
  0% {
    -webkit-transform: perspective(400px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(400px) rotateY(0deg); }
  /*0%{
      -webkit-transform: rotateX(0deg);
  }
  100%{
      -webkit-transform: rotateX(720deg);
  }*/ }
.container-c:hover .item-m {
  display: block !important; }

/* main第二部分 */
.container-wrap-a {
  background-color: #26a26f; }

.skill {
  display: block;
  padding-top: 20px;
  color: white;
  font-size: 12px; }

.about {
  display: block;
  padding-top: 30px;
  color: white;
  font-size: 12px; }

.about:hover {
  text-decoration: underline; }

.grass {
  display: block;
  padding-top: 15px;
  color: white;
  font-size: 12px;
  margin-right: 10px; }

.grass:hover {
  text-decoration: underline; }

.grape {
  display: block;
  padding-top: 15px;
  color: white;
  font-size: 12px;
  margin-right: 10px; }

.we {
  display: block;
  padding-top: 15px;
  padding-bottom: 5px;
  color: white;
  font-size: 12px; }

.code {
  display: block;
  height: 75px; }

.grape:hover {
  text-decoration: underline; }

.footer-box {
  border-top: 1px solid white;
  margin-top: 10px; }

.footer-box-a {
  justify-content: center;
  text-align: center;
  font-size: 12px;
  color: white; }

.footer-a {
  margin-top: 40px; }

.we:hover {
  text-decoration: underline; }

.skill:hover {
  text-decoration: underline; }

.distance {
  padding: 0; }

.v-distance {
  margin-top: 20px; }

/*# sourceMappingURL=task15-2.css.map */
