body {
    margin: 0;
    padding: 0;
    background-color: #29bde0;
}
.header {
    position: fixed;
    top:0;
    width: 100%;
    background-color: #29bde0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    color: #fff;
    font-size: 30px;
}
.header img:nth-child(1){
    margin-left: 15px;
}
.header img:nth-child(3){
    margin-right: 15px;
}
.main {
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: #b9e9f5;
    padding: 0 30px;
    background-image: url("img/d.png");
    background-repeat: no-repeat;
    background-position: 96% 50%;
    height: 70px;
    font-size: 18px;
    margin-top: 50px;
}
.bt-audio {
    width: 110px;
    height: 41px;
    opacity:0 ;
    transform:scaleX(-1);
}
.main-header {
    padding-left: 40px;
    margin-top: -4px;
}
.main-header p{
    margin-bottom: 0;
    color: #fff;
}
.footer {
    display: flex;
    flex-direction:column;
    margin: 20px 0;
}
.footer-wrap {
    display: flex;
    justify-content: space-around;
}
.blank {
    height: 4em;
}
.foot-wrap-left {
    display: flex;
    flex-direction:column;
    border: 2px solid #ffffff;
    width: 28vw;

}
.foot-wrap-left1 {
    background-color: #f5c97b;
    text-align: center;
    height: 21vw;
    line-height: 21vw;
}
.foot-wrap-left2 {
    background-color: #83b09a;
    text-align: center;
    height: 7vw;
    line-height:7vw;
    color:#ffffff;
}

.sprite {
    display: flex;
    justify-content: space-between;
    background:url(img/img.png)  no-repeat;
    background-size: 100%;
    height: 83px;
    margin: 5px 0;
    opacity: 0;
}
.below {
    position: fixed;
    bottom: 0;
    width: 90%;
    background-color: #29bde0;
    margin: 0 5%;
    text-align: center;
    color: #ffffff;
    font-size: 28px;
    padding: 21px 0px;
}
.below a{
    color:#ffffff ;
}
.below-text {
    background-color: #fbb435;
    height: 50px;
    line-height: 50px;
    width: 80%;
    display: inline-block;
}

.foot-wrap-left:hover ~ .sprite {
    opacity: 1;
}